*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Droid Sans Mono', monospace;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fafafa; }

html {
  box-sizing: border-box; }

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row; }

#overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); }

.closeX {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 40px;
  color: rbga;
  background-color: #363636;
  padding: 0 10px;
  opacity: 0.4; }

.closeX:hover {
  opacity: 0.9;
  cursor: pointer; }

.scroll {
  width: 40px;
  height: 100px;
  opacity: 0.6;
  cursor: pointer;
  margin: 0 15px; }

.scroll:hover {
  opacity: 1; }

#slide-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 1130px;
  margin: 15px auto; }
  #slide-container .enlarge {
    position: absolute;
    color: rgba(20, 20, 20, 0.5);
    top: 20px;
    left: 20px; }
  #slide-container > * {
    display: inline; }
  #slide-container #slide-img-container {
    width: 900px;
    height: 515px; }
    #slide-container #slide-img-container #slide-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 900px;
      height: 540px;
      background-color: #262626; }
      #slide-container #slide-img-container #slide-img img {
        max-height: 530px;
        max-width: 890px; }
  #slide-container #slide-img-info {
    background-color: #262626;
    width: 900px;
    height: 140px;
    margin-top: 15px;
    padding: 15px;
    color: #eaeaea; }
    #slide-container #slide-img-info h1 {
      font-family: 'Droid Sans Mono', monospace; }

button {
  outline: none;
  max-height: 40px; }

#forward {
  transform: rotate(180deg); }

#slideshow-body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1020px;
  color: #353535;
  margin: auto; }

#close {
  width: 70px;
  height: 30px;
  text-transform: uppercase;
  background-color: #cc6600;
  border: 0;
  color: #fafafa;
  position: relative; }

#img-container {
  /* Prevent vertical gaps */
  margin: 50px;
  width: 960px;
  line-height: 2;
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  -moz-column-count: 5;
  -moz-column-gap: 20px;
  column-count: 5;
  column-gap: 20px; }
  #img-container img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important; }

@media (max-width: 1200px) {
  #img-container {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }
@media (max-width: 1000px) {
  #img-container {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; } }
@media (max-width: 800px) {
  #img-container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; } }
@media (max-width: 400px) {
  #img-container {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1; } }

/*# sourceMappingURL=style.css.map */
